* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;

}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    background: linear-gradient(to right, #7067eb, #ff577d);
}

.container {
    width: 90%;
    margin: auto;
}

.small-container {
    width: 80%;
    margin: auto;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.row-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.btn {
    display: inline-block;
    background: #2d2d2d;
    color: white;
    padding: 10px 20px;
    margin: 20px 0;
}
.btn:hover{
    transition-delay: 0.6s;
    background: linear-gradient(to right , #7067eb , #ff577d  );
}
.title{
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    font-weight: 600;
    background: #7067eb;
    background: linear-gradient(to right,#7067eb 0%, #ff577d 100% );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

/* header section */
.header {
    margin-top: 50px;
    padding-top: 50px;
    background: white;

}

.logo-menu {
    display: flex;
    justify-content: space-between;
}

.logo {}

.logo h2 {
    color: #7067eb;
}

.logo span {
    color: #ff577d;
}

.navbar {}

.navbar ul {}

.navbar ul li {
    margin-top: 10px;
    display: inline-block;
    padding-right: 20px;
}
.menu-bar .fa-bars{
    background: #7067eb;
    background: linear-gradient(to right,#7067eb 0%, #ff577d 100% );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 20px;
    font-size: 25px;
    padding-top: 5px;
    display: none;
}

.navbar ul li a {

    font-size: 17px;
    color: #6a6a6a;
}
@media(max-width: 700px){
    .navbar ul {
        height: 100vh;
        position: absolute;
        top:18% ;
        right: 0;
        background: linear-gradient(to right,#ff577d 0%, #7067eb 100% );
        width: 100%;
        transition: 0.5s;
        overflow: hidden;

    }

    .navbar ul li {
        text-align: right;
        display: block;
        padding-right: 50px;
        margin-bottom: 10px;
    }
    .navbar ul li a {
        color: #ffffff;
        font-size: 13px;
    }
    .menu-bar .fa-bars{
        display: block;
    }

    .row {
        flex-direction: column;
        text-align: center;
    }
    .row-footer {
        flex-direction: column;
        text-align: center;
        margin-bottom: 10px;
        margin-right: 10px;
    }
}


/* banner section */
.banner {
    padding-top: 100px;
}

.col-2 {
    flex-basis: 48%;
}

.banner-text {}

.banner-text h1 {
    background: #7067eb;
    background: linear-gradient(to right,#7067eb 0%, #ff577d 100% );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 20px;


}

.banner-text p {
    font-size: 16px;
    color: #6a6a6a;

}

.banner-text a {
    display: inline-block;
    background: #2d2d2d;
    color: white;
    padding: 10px 20px;
    margin: 20px 0;
}
.banner-text a:hover{
    transition-delay: 0.6s;
    background: linear-gradient(to right , #7067eb , #ff577d  );
}

.banner-img {
    width: 100%;
}

.banner-img img {
    width: 100%;
}
/* footer section */
footer{
    padding: 100px 0;
    align-items: none;
}
.col-4{
    flex-basis: 23%;
    

}
.about-text{

}
.about-text h3{
    font-size: 25px;
    background: #7067eb;
    background: linear-gradient(to right , #7067eb 0% ,#ff577d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 10px;

}
.about-text p{
    color: #6a6a6a;
    font-size: 14px;

}
.follow-us{}
.follow-us h3{
    font-size: 25px;
    background: #7067eb;
    background: linear-gradient(to right , #7067eb 0% ,#ff577d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 10px;
}
.follow-us p{
    font-size: 14px;
    color: #6a6a6a;
    line-height: 30px;
}
.link{}
.link h3{
    font-size: 25px;
    background: #7067eb;
    background: linear-gradient(to right , #7067eb 0% , #ff577d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 10px;
}
.link ul{}
.link ul li{}
.link ul li a{
    color: #6a6a6a;
    line-height: 30px;
    font-size: 14px;
}
.contact-us{}
.contact-us h3{
    background: #7067eb;
    background: linear-gradient(to right , #7067eb 0% , #ff577d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 10px;
}
.contact-us p{
    font-size: 14px;
    color: #6a6a6a;
    line-height: 30px;

}
.low-footer{
    text-align: center;
    margin: auto;
    padding-top: 10px;
    font-size: 20px;
    color: #6a6a6a;
}
.low-footer span{
    color: #ff577d;
}


/* course section */
.course{
    padding-top: 100px;
}
.col-3{
    flex-basis: 33.3%;
}
.course-card{
    border: 1px solid #dcdcdc;
    padding:10px 20px;
    margin: 10px;
    transition: 0.5s;
}
.course-card:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.course-card-img{
    width: 100%;

}
.course-card-img img{
    width: 100%;
}
.course-card-img1{
    width: 100%;
}
.course-card-img1 img{
    width: 65%;
}
.long-img{

}
.course-card-text{
    padding: 20px 0;
}
.course-card-text h3{
    font-size: 22px;
    font-weight: 600;
    background: #7067eb;
    background: linear-gradient(to right , #7067eb 0%, #ff577d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 10px 0;
}
.course-card-text p{
    font-size: 14px;
    color: #6a6a6a;

}
.course-card-text a{
    display: inline-block;
    background: #2d2d2d;
    color: white;
    padding: 10px 20px;
    margin: 20px 0;
    transition: 0.6s;
}
.course-card-text a:hover{
    background: linear-gradient(to right , #7067eb , #ff577d  );
}
.rating{}
.fa-star{
    color: #7067eb;
    transition: 0.5s;
}
.fa-star:hover{
    color: #ff577d;
}


/* teacher section */
.teacher{
    padding-top: 100px;
}
.col-4{
    flex-basis: 24%;
}
.teacher-card{
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 10px;
    padding-top: 10px;
    border: 1px solid #e6e6e6;
    transition: 0.5s;
}
.teacher-card:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}
.teacher-card-img{
    width: 100%;
}
.teacher-card-img img{
    width: 45%;
    border-radius: 50%;

}
.teacher-card-text{}
.teacher-card-text h3{
    color: #7067eb;
    padding-top: 10px;
}
.teacher-card-text h4{
    color: #ff577d;
    padding-bottom: 5px;
}
.teacher-card-text p{
    color: #6a6a6a;
    font-size: 13px;
    padding: 5px 0;
    padding-bottom: 10px;
}
.social{
    padding-bottom: 20px;
}
.fa-brands{
    background: #ff577d;
    padding: 10px;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    transition: 0.5s;
}
.fa-brands:hover{
    background:#7067eb;
}

/* price section */
.price{
    margin-top: 100px;
}
.price-card{
    text-align: center;
    margin: 10px;
    border: 1px solid #e6e6e6;
    padding-top: 20px;
    padding-bottom: 20px;

}
.price-card h3{
    font-size: 19px;
    font-weight: 600;

}
.price-card h2{
    margin: 10px 0;
    margin-bottom: 10px;
    font-size: 30px;
    background: linear-gradient(to right , #7067eb 0%, #ff577d 100%);
    color: white;
    padding: 10px 30px;
}
.price-card p{
    line-height: 40px;
    color: #737373;
    cursor: pointer;

}
.price-card a{
    text-align: center;
}

/* testimonial section */
.testimonial{
    padding-top: 100px;
}
.testimonial-card{
    margin-bottom: 25px;
    box-shadow: rgba(174, 174, 178, 0.132) 0px 7px 29px 0px;
    padding: 10px 15px;
    margin-right: 15px;
    transition: 0.5s;
}
.testimonial-card:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.testimonial-head{
    display: flex;
}
.thdimg{
    padding-top: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    
}
.thdimg img{
    width: 90px;
    border-radius: 50%;
}
.thdtext{
    padding-top: 20px;
    padding-left: 15px;
}
.thdtext h3{
    font-size: 14px;
    color: #7067eb;
}
.thdtext h5{
    font-size: 12px;
    color: #ff577d;
}
.thdquot{
    padding-right: 20px;
    font-size: 80px;
    color: #ff577d;
}
.thdquot .fa-quote-right{}
.testimonial-body{}
.testimonial-body p{
    font-size: 13px;
    color: #6a6a6a;
}
/* contact section */
.contact{
    padding-top: 100px;
    
}
.col-2{
    flex-basis: 45%;
}
.contact-img{
    width: 100%;
}
.contact-img img{
    width: 100%;
}
.contact-input{
    border: 1px solid #cecece;
    box-sizing: border-box;
    padding: 10px;
}


.contact-input form{}
input, textarea{
    box-sizing: border-box;
    width: 100%;
    display: block;
    margin: 10px 0;
    padding: 10px ;
    border: none;
    background: #f0f0f0;
}
